body{
    font-family: 'Source code pro' , calibri, serif;
    margin: 0px;
    padding: 0px;
}
nav{
    width: 100%;
    background-color: rgb(49, 45, 45);
}
nav > ul::after{
    content: '';
    display: block;
    clear: both;
}
nav > ul{
    padding: 0px;
    margin: 0px;
}
nav > ul > li{
    float: left;
    position: relative;
}

nav > ul > li > a{
    padding: 20px 30px;
    color: white;
}
nav > ul li:hover a {
    padding: 15px 30px 20px 30px;
}
nav > ul >li:hover a{
    padding: 15px 30px 20px 38px;
}

nav li{
    list-style-type: none;
}
.su-menu{
    display: none;
}
nav input[type=checkbox]{
    display: none;
}
nav label{
    display: none;
}
nav  a {
    display: inline-block;
    text-decoration: none;
}
nav > ul > li > a {
    padding: 20px 30px;
    color: #fff;
}
nav  li:hover .su-menu{
    position: absolute;
    display: inline-block;
    top: 100%;
    padding: 0px;
    left: 0px;
    z-index: 1000%;
}
.su-menu li  a{
    padding: 15px 30px ;
    font-size: 13px;
    color: rgb(44, 44, 53);
    width: 270px;
}
.su-menu li{
    border-bottom: 1px solid #cccacc;
}
.menu-html:hover{
    border-top: 5px solid #e44d26;
    background-color: rgba(228, 77, 38, 0.15);
}
.menu-css:hover{
    border-top: 5px solid blue;
    background-color: rgb(73, 204, 236);
}
.menu-java:hover{
    border-top: 5px solid seagreen;
    background-color: springgreen;
}
.menu-contact:hover{
    border-top: 5px solid gold;
    background-color: goldenrod;
}
.menu-html .su-menu{
    background-color:  rgb(122, 70, 57);
}
.menu-css .su-menu{
    background-color: rgb(104, 178, 247);
}
.menu-java .su-menu{
    background-color: rgb(73, 230, 151);
}
.menu-contact .su-menu{
    background-color: greenyellow;
}
.su-menu li:hover a{
    color: whitesmoke;
    font-weight: bold;
}
.menu-html .su-menu li:hover{
    background-color: rgb(245, 9, 9);
}
.menu-css .su-menu li:hover{
    background-color: teal;
}
.menu-java .su-menu li:hover{
    background-color: yellowgreen;
}
.menu-contact .su-menu li:hover{
    background-color: green;
}
nav input[type=checkbox]:checked ~ ul{
    display: block;
}
@media screen and (max-width:780px){
    .menu-mobile{
        display: block;
        color: #fff;
        background-color: royalblue;
        text-align: center;
        padding: 12px 0px;
    }
    nav ul{
        display: none;
    }
    nav ul li, nav ul li a{
        width: 100%;
        text-align: center;
    }
    nav ul li a, nav ul li:hover a{
        padding: 10px 0px;
    }
    nav li:hover .su-menu{
        display: block;
        position: static;
    }
}