body{
    font-family: 'Source code pro' , calibri, serif;
    margin: 0px;
    padding: 0px;
}
nav{
    width: 100%;
    background-color: rgb(49, 45, 45);
}
nav > ul::after{
    content: '';
    display: block;
    clear: both;
}
nav > ul{
    padding: 0px;
    margin: 0px;
}
nav > ul > li{
    float: left;
    position: relative;
}

nav > ul > li > a{
    padding: 20px 30px;
    color: white;
}
nav > ul >li:hover a{
    padding: 15px 30px 20px 38px;
}

nav li{
    list-style-type: none;
}
.su-menu{
    display: none;
}
nav a{
    display: inline-block;
    text-decoration: none;
}
nav li:hover .su-menu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
}
.su-menu li{
    border-bottom: 1px solid rgb(60, 25, 184);
}
.su-menu li a{
    padding: 15px 30px;
    font-size: 13px;
    color: rgb(24, 26, 25);
    width: 250px;
}
.menu-html:hover{
   border-top: 5px solid #e44d26; 
   background-color: burlywood;
}
.menu-css:hover{
    border-top: 5px solid #e44d26; 
    background-color: burlywood;
}
.menu-java:hover{
    border-top: 5px solid #e44d26; 
    background-color: burlywood;
}
.menu-contact:hover{
    border-top: 5px solid #e44d26; 
    background-color: burlywood;
    
}
.menu-html .su-menu{
    background-color: coral;

}
.menu-css .su-menu{
    background-color: crimson;
}
.menu-java .su-menu{
    background-color: darkgray;
}
.meunu-contact.su-menu{
    background-color: darkseagreen;
}
.su-menu li:hover a{
    background-color: dimgray;
    font-weight: bold;
}
.menu-html.su-menu li:hover{
    background-color: dodgerblue;
}
.menu-css .su-menu li:hover{
    background-color: floralwhite;
}
.menu-java.su-menu li:hover{
    background-color: goldenrod;
}
.meunu-contact.su-menu li:hover{
    background-color: hotpink;
}




