body{
    font-family: 'Source code pro', 'Gill Sans',
     'Gill Sans MT', Calibri, serif;
    margin: 0px;
    padding: 0px;
}
nav{
    width: 100%;
    background-color: #424558;
}
nav ul   {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
nav li{
    float: left;
    list-style-type: none;
}
nav a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #fff;

}
.menu-html:hover{
    border-bottom: 5px solid #e44d26;
    background-color: rgba(228, 77, 38, 0.15);
}
.java-html:hover{
    border-bottom: 5px solid #5a308a;
    background-color: rgba(81, 14, 158, 0.15);
}
.menu-css:hover{
    border-bottom: 5px solid #1fe0b0;
    background-color: rgba(109, 35, 16, 0.877);
}
.menu-java:hover{
    border-bottom: 5px solid #f7efed;
    background-color: rgba(252, 6, 6, 0.952);
}
.menu-contact:hover{
    border-bottom: 5px solid #12bb5e;
    background-color: rgba(13, 44, 185, 0.15);
}
nav li:hover a{
    padding: 15px 30px 20px 30px;
}


